// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.project_name {
  @include font($berthold-medium, 1em, $blue, Uppercase);
  letter-spacing: 0.08em;
}

.project_description{
  @include font($berthold-medium, 0.8em, black, lowercase);
  margin: 1em 1em 0 0;
  line-height: 140%;
}

.project_images {
  img{
  width: 100%;
  }
}