<header>
  <div class="main-width grid-container sticky_nav">
    <div class="row top">
      <div class="col-4 menuheader"><a href="index.html" class="maria">Maria Kociszewska</a></div>
      <div class="col-4 menuheader"><a class="archive">Archive</a> <span class="x">&#10005</span></div>
      <div class="menuMobile">
        <ul>
          <li>Editorial</li>
          <li>Identity</li>
          <li>Action</li>
          <li>Website</li>
          <li>All</li>
        </ul>
      </div>
      <div class="col-4 menuheader"><a href="/">About / Contact</a></div>
    </div>
  </div>
</header>